.underline{
    border-bottom: 1px solid #000;
    font-size: 20px;
}
.mt{
    margin-top: 40px;
}
.mt-100{
    margin-top: 80px;
}
.size-mediumn{
    font-size: 24px;
    font-weight: bold;
}
.center{
    text-align: center;
}